.img-car{
    width: 550px;
    height:550px;
}
.thmb{
    display: flex;
    justify-content: space-evenly;
}

h2{
    display: inline-block;
}

.tsvg{
    transform: rotate(180deg);
}

.active{
    border: 2px solid #000;
}
