@import url('https://fonts.googleapis.com/css?family=Open+Sans');
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 120%;
}

.container{
  margin-left: 5px;
  display: flex;
  justify-content: space-evenly;
  margin-right: 0;
}

.left{
 
  flex-direction: row;

}

.right{
  margin-left: 100px;
  flex-direction: row;
}